@font-face {
    font-family: "indico";
    src: url("../fonts/BebasNeue.ttf"), url("../fonts/BebasNeue.otf");
	font-style: normal;
    font-weight: normal;
	}

@font-face {
    font-family: "futura";
    src: url("../fonts/FUTURAMC.ttf"), url("../fonts/FUTURAMC.otf");
	font-style: normal;
    font-weight: normal;
	}

@font-face {
    font-family: "arialn";
    src: url("../fonts/ARIALN.ttf"), url("../fonts/ARIALN.otf");
	font-style: normal;
    font-weight: normal;
	}

@font-face {
    font-family: "arialnb";
    src: url("../fonts/ARIALNB.ttf"), url("../fonts/ARIALNB.otf");
	font-style: normal;
    font-weight: normal;
	}
	
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	h1{
		display: none;
	}
	.amarillo {
		background: #F4E337;
		font-family: "indico", Arial;
	}
	.negro {
		background: #000000;
	}
	.verde {
		background: #90B433;
	}

	/* Estilos Menu */

	header .logotipo{
		background: #F4E337;
		align-items: center;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	header .navegacion{
		font-family: "indico";
		background: #F4E337;
		align-items: center;
		width: 100%;
		color: #000066;
	}

	.boton-menu{
		display: none;
	}
	
	.boton-menu span{
		color: #000066;
		font-size: 30px;
		cursor: pointer;
	}

	.menu{
		list-style: none;
		width: 100%;
		text-align: center;
	}
	.menu li{
		display: inline-block;
	}
	.menu a{
		color: #000066;
	}
	.menu a:hover{
		color: white;
	}
	.menu li a{
		display: block;
		padding: 15px;
	}

	@media screen and (max-width: 768px) {
		.boton-menu{
			width: 90%;
			margin: auto;
			display: block;
		}
		.navegacion nav{
			position: absolute;
			z-index: 1;
			background: #F4E337;
			left: -100%;
		}
		.menu li{
			display: block;
		}
		.menu a:hover{
		color: blue;
		}
	}

	/* Menu Viejo 
	.navbar-inverse{
		background: #F4E337;
		border-color: #F4E337 !important;
	}

	#nav-i ul a {
		color: #000066;
		font-family: 'indico';
		text-align: center;
	}

	#nav-i ul a:hover{
		background: transparent;
		color: white;
	}

	.icon-bar{
		background: #000066 !important;
	}

	.menu{
		border-color: #F4E337 !important;
  		background-color: #F4E337 !important;
	}
	.menu:hover{
		background: yellow !important;
	}
	*/

	footer {
		background: #F4E337;
		padding: 15px;
		padding-top: 100px;
		font-family: "indico", Arial;
		font-size: 18px;
		font-style: bold;
		color: #000066;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items:center;
	}
	footer .company{
		font-family: "arialnb", Arial;
		font-size: 18px;
	}
	footer .city {
		font-family: "arialn", Arial;
		font-size: 12px;
		color: #000066;
		word-spacing: 1px;
	}
	footer .redes{
		word-spacing: 5px;
	}

	footer i{
		color: #000066;
		}
	footer i:hover{
		color: white;
	}
	footer p{
		text-align: center;
		line-height: 6px;
	}
	.copy{
		line-height: 0px;
	}
	
	/* Contenido */

	/*Body*/
	.carousel-control .caro{
	background: transparent !important;
	}
	.caro{
	background: transparent !important;

	}
	/* Estilos de que somos */
	.primero {
		background-image: url(../img/fondo1.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0px 50px;
	}
	
	.txsomos{
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		background: rgba(96, 96, 96, 0.8);
		color: white;
		font-family: "futura";
		font-size: 25px;
	}
	
	@media screen and (max-width: 768px) {
		.txsomos{
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		background: rgba(96, 96, 96, 0.8);
		color: white;
		font-family: "futura";
		font-size: 18px;
			}
	}

	.logo2{
		padding-top: 100px;
	}
	.espacio1{
	height: 300px;
	}

	/* Estilos de QUE HACEMOS */
	
	.qhacemos{
		background-image: url(../img/qhacemos.png);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: 100% 95%;
	}
	@media screen and (max-width: 768px) {
		.qhacemos{
		background-image: url(../img/qhacemos.png);
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: 100px 700px;
		}
	}
	.banners{
		padding-top: 15px;
		padding-bottom: 15px;
		background: rgba(96, 96, 96, 0.8);
		color: white;
		font-family: "futura";
		font-size: 25px;
		line-height: 10px;
	}

	@media screen and (max-width: 768px) {
		.banners{
		padding-top: 15px;
		padding-bottom: 15px;
		background: rgba(96, 96, 96, 0.8);
		color: white;
		font-family: "futura";
		font-size: 18px;
		line-height: 25px;
		}
	}
	.banners:hover{
		background: rgba(96, 96, 96, 0.9);
	}
	.subtitulo{
		font-family: "indico";
		font-size: 30px;
		color: #F4E337;
	}
	.txtbanners{
		line-height: 20px;
		text-align: justify;
	}
	.txt{
		padding-top: 30px;
	}

	.containercero{
		padding-left: 0px;
		padding-right: 0px;
	}

	/* Estilos de Equipo */

	.equipo{
		background-image: url(../img/equipo.png);
		background-repeat: no-repeat;
		background-size: 20%;
		background-position: 1080px 110px;
	}
	@media screen and (max-width: 768px) {
		.equipo{
		background-image: url(../img/equipo.png);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: 200px 100px;
		}
	}
	.equipo2{
		background-image: url(../img/equipo2.png);
		background-repeat: no-repeat;
		background-size: 30%;
		background-position: 0px 50px;
	}
	@media screen and (max-width: 768px) {
		.equipo2{
		background-image: url(../img/equipo2.png);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: 0px 0px;
		}
	}
	.espacioEquipo{
		height: 100px;
	}
	.espacioEquipo2{
		height: 300px;
	}
	@media screen and (max-width: 768px) {
		.espacioEquipo2{
		height: 100px;
	}
	}
	.txEquipo{
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		background: rgba(96, 96, 96, 0.8);
		color: white;
		font-family: "futura";
		font-size: 25px;
	}
	@media screen and (max-width: 768px) {
		.txEquipo{
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		background: rgba(96, 96, 96, 0.8);
		color: white;
		font-family: "futura";
		font-size: 18px;
		}
	}

	/* Estilos de Nuestro trabajo */
	.texto{
		width: 322,145px;
		height: 150px;
		text-align: left;
		text-align: justify;
		padding-left: 10px;
		padding-bottom: 10px;
		background: rgba(96, 96, 96, 0.8);
		color: white;
		font-family: "futura";
		font-size: 18px;
	}
	@media screen and (max-width: 768px) {
		.texto{
			height: 200px;
		}
	}

	.espacioNt{
		height: 20px;
	}
	.espacioNt2{
		height: 100px;
	}
	
	.nt{
		background-image: url(../img/fondo1.png);
		background-repeat: no-repeat;
		background-size: 30%;
		background-position: 0px 50px;
	}
	@media screen and (max-width: 768px) {
		.nt{
		background-image: url(../img/fondo1.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 0px 105px;
		}
	}


	/* Estilos de Contacto */
	.formulario{
		background: rgba(96, 96, 96, 0.2);
		font-family: "arialn";
		color: #000066;
		padding: 50px;
	}
	.btn-primary{
		background: #000066 !important;
	}
	.btn-primary:hover{
		background: rgba(0, 0, 102, 0.8)!important;
	}
	.espacioContacto{
		height: 200px;
	}

	/* Estilos de Confirm */

	.primero {
		background-image: url(../img/fondo1.png);
		background-repeat: no-repeat;
		background-size: 280px;
		background-position: 0px 50px;
	}
	
	.txtRespuesta{
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		background: rgba(96, 96, 96, 0.8);;
		color: white;
		font-family: "futura";
		font-size: 18px;
	}

	.espacioEnviar{
		height: 250px;
	}
